.grid-container {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr); /* 'minmax(0, 1fr)' ensures the image row doesn't exceed available space */
  grid-template-areas: 
    "header"
    "image";
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents any overflow */
}

.header {
  grid-area: header;
  background-color: #e7f4fb; 
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  border-style: solid;
  border-color: rgb(120, 120, 196);
}

.image-container {
  position: relative;
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures no spillover of the image */
  background-color: #ffffff; 
  padding-top: 1%;

}

.image-container img {
  position: relative; /* New: make the image a positioning context */
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

/* Adjust the indicator positions */
.indicator-on, .indicator-off {
  position: absolute;
  background-color: lightgreen;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  padding: 5px;
}

.indicator-on {
  background-color: red;
}

.indicator-off {
  background-color: lightgreen;
}