.grid-container {
  display: grid;
  grid-template-rows: auto 90vh;
  grid-template-areas:
    "header"
    "image";
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: #e7f4fb;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  border-style: solid;
  border-color: rgb(120, 120, 196);
  font-size: 3vh;
}

.menu {
  font-size: 3vh;
}

.image-container {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 80vh;
}

.image-wrapper {
  position: relative;
}

.indicator {
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  background-color: gray;
}

.large-checkbox {
  transform: scale(2.2);
  margin-left: 2%;
}
