.indicator {
  width: 1.1vw;
  height: 1.1vw;
}
.value {
  position: absolute;
  padding: 5px;
  /* background-color: rgb(241, 199, 239); */
  font-size: 1.6vh;
  min-width: 20%;
  height: 2%;
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  color: rgb(7, 7, 247);
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: left; /* Horizontal alignment */
}
.value_right {
  justify-content: right; /* Horizontal alignment */
}

/* Media query for small screens (like iPhones) */
@media screen and (max-width: 600px) {
  .indicator {
    width: 1.5vw;
    height: 1.5vw;
  }
}
