.indicator {
  width: 4%;
  height: 2%;
}
.value {
  position: absolute;
  padding: 5px;
  font-size: 2vh;
  min-width: 30%;
  height: 4%;
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  color: rgb(7, 7, 247);
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: left; /* Horizontal alignment */
}
.value_right {
  justify-content: right; /* Horizontal alignment */
}

.stats {
  position: absolute;
  padding: 5px;
  background-color: rgba(8, 246, 24, 0.9);
  font-size: 15px;
  height: 2%;
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  color: rgb(7, 7, 247);
  display: flex;
  align-items: center; /* Vertical alignment */
}